{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Your Cart</h1>
    {% if shoppingCart|length >0 %}
        <div class="row mt-4">
        <!-- List of Items -->
        <div class="col-md-8">

            <div class="card">
                <div class="card-header bg-dark text-white d-flex">
                    <h5 class="me-auto">Items</h5>
                    <div class="ms-auto">
                        <a href="{{ path('app_cart_empty') }}" class="btn btn-sm btn-danger text-white">Clear All</a>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    {% for item in shoppingCart %}
                        <li class="list-group-item d-flex">
                            <div class="flex-fill mr-2">
                                <img src="https://dummyimage.com/200x150" width="64" alt="Product Image">
                            </div>
                            <div class="flex-fill mr-2">
                                <h5 class="mt-0 mb-0">{{ item.product.name }}</h5>
                                <small>{{ item.product.description[:50] }}...</small>
                                <div class="form-inline mt-2">
                                    <div class="form-group mb-0 mr-2">
                                        {{ item.quantity }}x
                                    </div>
                                </div>
                            </div>
                            <div class="flex-fill mr-2">
                                <b>€ {{ item.product.price }}</b>
                            </div>
                            <div class="flex-fill">
                                <a href="{{ path('app_remove_cart_product',{id:item.product.id}) }}" class="btn btn-sm btn-danger text-white">-</a>
                                <a href="{{ path('app_product_add',{id:item.product.id}) }}" class="btn btn-sm btn-success text-white">+</a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div>
                <div class="col-md-4">
                    <div class="card mt-4 mt-md-0">
                        <h5 class="card-header bg-dark text-white">Summary</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between">
                                <div><b>Total</b></div>
                                <span><b>€ {{ totalPrice }}</b></span>
                            </li>
                        </ul>
                        <div class="card-body">
                            {{ form(form) }}
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="alert alert-info">
                Your cart is empty. Go to the <a href="{{ path('app_home') }}">Product list</a>
            </div>
            {% endif %}
        </div>
        </div>

</div>
{% endblock %}
